@media (min-width: 1200px) and (max-width: 1920px) {
  .app {
    max-width: 74rem;
  }

  .mShow {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .app {
    max-width: 30rem;
  }

  .mHide {
    display: none;
  }

  .mShow {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .app {
    max-width: 20rem;
  }

  .mHide {
    display: none;
  }

  .mShow {
    display: unset;
  }
}

.app {
  display: flex;
  margin: 0 auto;
}