@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


body,
#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;

  :has(.main) {
    width: 100%;
    background-color: black;
    color: white;
  }

  :has(.zuzu) {
    background-color: #094120;
  }

  h1,
  h4,
  span,
  div,
  form,
  input,
  label,
  select,
  button,
  span {
    font-family: "Spoqa Han Sans", Helvetica Neue, pretendard variable, Pretendard, noto sans kr, malgun gothic, sans-serif;
    font-size: 16px;
  }

  h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
  }


  h4 {
    font-size: 24px;
    margin: 0;
    font-weight: 400;

    @media screen and (max-width: 599px) {
      font-size: 1rem !important;
    }
  }

  input,
  select,
  form,
  button {
    border-radius: 0.5rem;
  }

  @media screen and (max-width: 599px) {
    .Navigation {
      top: 10% !important;
    }
  }

}